In [15]:
import sqlite3
from datetime import datetime

conn = sqlite3.connect('test.db')

In [9]:
conn.execute('''CREATE TABLE Students (
  Id INT PRIMARY KEY NOT NULL, 
  Name VARCHAR(30) NOT NULL, 
  DoB DATE NOT NULL, 
  Degree VARCHAR(20)); ''')

In [7]:

conn.close()

In [10]:
import sqlite3

conn = sqlite3.connect('test.db')

conn.execute( "INSERT INTO Students VALUES (1, 'Ashok', '2000-10-27', 'M.Tech')" )

conn.execute( "INSERT INTO Students (Name, Id, Degree, DoB) VALUES ('Binu', 2, 'M.Tech', '2000-07-15')" )

conn.execute( "INSERT INTO Students (Id, Name, Degree, DoB) \
        VALUES (3, 'Caesar', 'B.Tech', '2002-02-09')" )

conn.execute( "INSERT INTO Students VALUES \
        (4, 'Daniel', '2002-02-09', 'M.C.A')" )
        
conn.commit()

conn.close()

Write a program which will read the input from the user and insert values into the table. Add at least 6 more rows.
Input format: 10 Jaydeep 2001-11-23 M.C.A
Improvise the program to check if the input entered is in correct. Examples of incorrect input

In [16]:
print("Input format: id;Name;DOB(yyyy-mm-dd);Degree") ## taking ; as the delimitter 
conn = sqlite3.connect('test.db')
for x in range(6):
    inputDetails = input('Enter the details in the format mentioned above: ')
    print(inputDetails)
    x = inputDetails.split(";")
    print(x)
    if x[0].isnumeric():
        if int(x[0])  < 0:
            raise Exception("Sorry, Id cant be negative.")
        else :
            if len(x[1]) > 30 :
                raise Exception("Name is too big. It cant exceed 30 characters.")
            elif len(x[1]) <= 2 or not x[1].isalpha():
                raise Exception("Please enter a valid name.")
            else :
                format = "%Y-%m-%d"
                res = True
                try:
                    res = bool(datetime.strptime(x[2], format))
                except ValueError:
                    res = False
                if not res :
                    raise Exception("Please enter a valid date.")


    else :
        raise Exception("Invalid number given for id.")
    
    
    query = "INSERT INTO Students VALUES ({}, {}, {}, {})".format(x[0], x[1], x[3],x[2])
    conn.execute( query )

conn.commit()

conn.close()

Input format: id;Name;DOB(yyyy-mm-dd);Degree
1;akhil;1990-09-09;M-Tech
['1', 'akhil', '1990-09-09', 'M-Tech']

NameError: name 'test_str' is not defined

In [14]:
x = inputDetails.split(" ")
print(x)

['20', 'Arya', 'M', '1988-08-08', 'Mtech']