In [15]:
import sqlite3
from datetime import datetime

conn = sqlite3.connect('test.db')

In [18]:
conn.execute('''CREATE TABLE Students (
  Id INT PRIMARY KEY NOT NULL, 
  Name VARCHAR(30) NOT NULL, 
  DoB DATE NOT NULL, 
  Degree VARCHAR(20)); ''')

OperationalError: table Students already exists

In [7]:

conn.close()

In [10]:
import sqlite3

conn = sqlite3.connect('test.db')

conn.execute( "INSERT INTO Students VALUES (1, 'Ashok', '2000-10-27', 'M.Tech')" )

conn.execute( "INSERT INTO Students (Name, Id, Degree, DoB) VALUES ('Binu', 2, 'M.Tech', '2000-07-15')" )

conn.execute( "INSERT INTO Students (Id, Name, Degree, DoB) \
        VALUES (3, 'Caesar', 'B.Tech', '2002-02-09')" )

conn.execute( "INSERT INTO Students VALUES \
        (4, 'Daniel', '2002-02-09', 'M.C.A')" )
        
conn.commit()

conn.close()

Write a program which will read the input from the user and insert values into the table. Add at least 6 more rows.
Input format: 10 Jaydeep 2001-11-23 M.C.A
Improvise the program to check if the input entered is in correct. Examples of incorrect input

In [23]:
print("Input format: id;Name;DOB(yyyy-mm-dd);Degree") ## taking ; as the delimitter 
conn = sqlite3.connect('test.db')
for x in range(6):
    inputDetails = input('Enter the details in the format mentioned above: ')
    print(inputDetails)
    x = inputDetails.split(";")
    print(x)
    if x[0].isnumeric():
        if int(x[0])  < 0:
            raise Exception("Sorry, Id cant be negative.")
        else :
            if len(x[1]) > 30 :
                raise Exception("Name is too big. It cant exceed 30 characters.")
            elif len(x[1]) <= 2 or not x[1].replace(" ","").isalpha():
                raise Exception("Please enter a valid name.")
            else :
                format = "%Y-%m-%d"
                res = True
                try:
                    res = bool(datetime.strptime(x[2], format))
                except ValueError:
                    res = False
                if not res :
                    raise Exception("Please enter a valid date.")


    else :
        raise Exception("Invalid number given for id.")
    
    
    query = "INSERT INTO Students VALUES ({}, '{}', '{}', '{}')".format(x[0], x[1], x[2],x[3])
    print(query)
    conn.execute( query )

conn.commit()

conn.close()

Input format: id;Name;DOB(yyyy-mm-dd);Degree
5;Arya M;1988-08-08;M-tech
['5', 'Arya M', '1988-08-08', 'M-tech']
INSERT INTO Students VALUES (5, 'Arya M', '1988-08-08', 'M-tech')
6;Kathu;2014-02-07;2nd
['6', 'Kathu', '2014-02-07', '2nd']
INSERT INTO Students VALUES (6, 'Kathu', '2014-02-07', '2nd')
7;Aami;2019-04-22;kg
['7', 'Aami', '2019-04-22', 'kg']
INSERT INTO Students VALUES (7, 'Aami', '2019-04-22', 'kg')
8;devu;2008-07-29;mbbs
['8', 'devu', '2008-07-29', 'mbbs']
INSERT INTO Students VALUES (8, 'devu', '2008-07-29', 'mbbs')
9;ammu;2014-02-16;9
['9', 'ammu', '2014-02-16', '9']
INSERT INTO Students VALUES (9, 'ammu', '2014-02-16', '9')
10;kannan;2019-06-13;kg
['10', 'kannan', '2019-06-13', 'kg']
INSERT INTO Students VALUES (10, 'kannan', '2019-06-13', 'kg')

In [35]:
import sqlite3

conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT Id, Name, DoB, Degree FROM Students")
for row in cursor:
   print( "Id = ", row[0], " | Name = ", row[1], " | DoB = ", row[2], " | Degree = ", row[3] )
   # print( row )  # Comment out above and uncomment this, check the output
   
conn.close()

Id =  1  | Name =  Ashok  | DoB =  2000-10-27  | Degree =  M.Tech
Id =  2  | Name =  Binu  | DoB =  2000-07-15  | Degree =  M.Tech
Id =  3  | Name =  Caesar  | DoB =  2002-02-09  | Degree =  B.Tech
Id =  4  | Name =  Daniel  | DoB =  2002-02-09  | Degree =  M.C.A
Id =  5  | Name =  Arya M  | DoB =  1988-08-08  | Degree =  M.Tech.
Id =  6  | Name =  Kathu  | DoB =  2014-02-07  | Degree =  2nd
Id =  7  | Name =  Aami  | DoB =  2019-04-22  | Degree =  kg
Id =  8  | Name =  devu  | DoB =  2008-07-29  | Degree =  mbbs
Id =  9  | Name =  ammu  | DoB =  2014-02-16  | Degree =  9
Id =  10  | Name =  kannan  | DoB =  2019-06-13  | Degree =  kg

Count the number of rows in the table.
Count the number of rows who enrolled to M.Tech degree.

In [30]:

conn = sqlite3.connect('test.db')


cursor = conn.execute("SELECT count(*) FROM Students")
for row in cursor:
    print(row[0])
conn.close()

10

In [34]:
conn = sqlite3.connect('test.db')


cursor = conn.execute("SELECT count(*) FROM Students where  degree ='M.Tech'")
for row in cursor:
    print(row[0])
conn.close()

2

Update Table

In [36]:
import sqlite3

conn = sqlite3.connect('test.db')

conn.execute("UPDATE Students SET Degree = 'M.Tech' WHERE Degree = 'M-tech'")
conn.commit()
print("Total number of rows updated :", conn.total_changes)

cursor = conn.execute("SELECT Id, Name, DoB, Degree FROM Students WHERE Degree = 'M.Tech'")
for row in cursor:
   print(row)

conn.close()

Total number of rows updated : 1
(1, 'Ashok', '2000-10-27', 'M.Tech')
(2, 'Binu', '2000-07-15', 'M.Tech')
(5, 'Arya M', '1988-08-08', 'M.Tech')

Delete

In [37]:
import sqlite3

conn = sqlite3.connect('test.db')

conn.execute("DELETE FROM Students WHERE Id = 4")
conn.commit()
print("Total number of rows deleted :", conn.total_changes)

cursor = conn.execute("SELECT * FROM Students")
for row in cursor:
   print(row[0], row[1])

conn.close()

Total number of rows deleted : 1
1 Ashok
2 Binu
3 Caesar
5 Arya M
6 Kathu
7 Aami
8 devu
9 ammu
10 kannan